header {
    width: 1440px;
    margin: 0 auto;
    padding: 38px 130px;
}

.header_logo {
    vertical-align: middle;
    margin-right: 280px;
}

nav {
    display: inline-block;
    vertical-align: middle
}

li {
    display: inline-block;
    font-size: 20px;
}

.post {
    margin: 0 47px;
}

.headerbuttom {
    background: #2A9D8F;
    color: white;
    margin-left: 253px;
    border: none;
    padding: 8px 19px;
}

.section_1 {
    width: 1440px;
    padding: 80px 130px;
    background-color: #C2F3EE;
}

.div_section_1_text {
    display: inline-block;
    width: 480px;
    height: 560px;
    vertical-align: top;
    margin-left: 96px;
}

.section_text_head {
    margin-bottom: 33px;
    font-size: 32px;
    font-weight: 500;
}

.section_1_maintext {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 81px;
}

.section_1_buttom {
    background: #2A9D8F;
    color: white;
    border: none;
    padding: 8px 27px;

}

article {
    width: 1440px;
    padding: 200px 330px;
    border: 2px solid #2A9D8F;
}

.article_head {
    font-size: 48px;
    margin-left: 185px;
    margin-bottom: 62px;
}

.article_text_1 {
    display: inline-block;
    vertical-align: top;
    width: 641px;
    height: 120px;
    margin-left: 32px;
    margin-bottom: 20px;
}

.article_text_2 {
    width: 780px;
    height: 170px;
}

.article_img {
    vertical-align: top;
}

.section_2 {
    padding: 200px 130px;
}

.div_section_2 {
    width: 1180px;
    height: 523px;
}

.div_head_text {
    font-size: 62px;
    margin-left: 300px;
    margin-bottom: 54px
}

.div_mini_1 {
    vertical-align: top;
    display: inline-block;
    width: 570px;
    height: 404px;
}

.div_mini_img1 {
    width: 567px;
}

.div_mini_buttom_1 {
    margin: 8px 0 25px 0;
    background: #2A9D8F;
    color: white;
    border: none;
    padding: 5px 30px;
}

.div_mini_text_1 {
    font-size: 24px;
}

.div_mini_2 {
    vertical-align: top;
    display: inline-block;
    width: 570px;
    height: 404px;
}

.div_mini_img2 {
    width: 567px;
}

.div_mini_buttom_2 {
    margin: 8px 0 25px 0;
    background: #2A9D8F;
    color: white;
    border: none;
    padding: 5px 30px;
}

.div_mini_text_2 {
    font-size: 24px;
}