header {
    width: 1440px;
    margin: 0 auto;
    padding: 38px 130px;
}

.header_logo {
    vertical-align: middle;
    margin-right: 280px;
}

nav {
    display: inline-block;
    vertical-align: middle
}

.hlink {
    color: #6D6D6D;
    font-family: 'Nerko One';
}

.hl {
    display: inline-block;
    font-size: 20px;
}

.post {
    margin: 0 47px;
}

.headerbuttom {
    font-family: 'Poppins';
    background: #2A9D8F;
    color: white;
    margin-left: 253px;
    border: none;
    padding: 8px 19px;
}

.section_1 {
    width: 1440px;
    padding: 80px 130px;
    background-color: #C2F3EE;
}

.div_section_1_text {
    display: inline-block;
    width: 480px;
    height: 560px;
    vertical-align: top;
    margin-left: 96px;
}

.section_text_head {
    font-family: 'Poppins';
    margin-bottom: 33px;
    font-size: 32px;
    line-height: 44.8px;
    font-weight: 500;
}

.section_1_maintext {
    color: #515151;
    font-size: 18px;
    font-family: 'Poppins';
    font-style: italic;
    line-height: 150%;
    margin-bottom: 81px;
}

.section_1_buttom {
    background: #2A9D8F;
    color: white;
    border: none;
    padding: 8px 27px;

}

article {
    width: 1440px;
    padding: 200px 330px;
    border: 2px solid #2A9D8F;
}

.article_head {
    color: #4D4D4D;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    margin-left: 185px;
    margin-bottom: 62px;
}

.article_text_1 {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Nerko One';
    display: inline-block;
    vertical-align: top;
    width: 641px;
    margin-left: 32px;
    margin-bottom: 20px;
    line-height: 150%;
    color: #656565;
}

.article_text_2 {
    font-size: 20px;
    color: #656565;
    font-family: 'Nerko One';
    width: 780px;
    line-height: 170%;
}

.article_img {
    vertical-align: top;
}

.section_2 {
    padding: 200px 130px;
}

.div_section_2 {
    width: 1180px;
    height: 523px;
}

.div_head_text {
    font-family: 'Poppins';
    color: #4D4D4D;
    font-size: 48px;
    margin-left: 340px;
    margin-bottom: 54px
}

.div_mini_1 {
    vertical-align: top;
    margin-right: 20px;
    display: inline-block;
    width: 570px;
    height: 404px;
}

.div_mini_img1 {
    width: 567px;
}

.div_mini_buttom_1 {
    margin: 8px 0 25px 0;
    background: #2A9D8F;
    color: white;
    border: none;
    padding: 5px 30px;
}

.div_mini_text_1 {
    font-family: 'Poppins';
    font-size: 24px;
    line-height: 140%;
    color: #535353;
}

.div_mini_2 {
    vertical-align: top;
    display: inline-block;
    width: 570px;
    height: 404px;
}

.div_mini_img2 {
    width: 567px;
}

.div_mini_buttom_2 {
    margin: 8px 0 25px 0;
    background: #2A9D8F;
    color: white;
    border: none;
    padding: 5px 30px;
}

.div_mini_text_2 {
    font-family: 'Poppins';
    font-size: 24px;
    line-height: 140%;
    color: #535353;
}

.footer {
    width: 1440px;
    background-color: #2A9D8F;
}

.footer_img {
    vertical-align: top;
    margin: 80px 0 0 130px;
}

.footer_nav {
    margin-top: 80px;
    width: 665px;
    display: inline-block;
    margin-left: 450px;
    line-height: 150%;
}

.footer_menu_1 {
    display: inline-block;
}

.footer_menu_2 {
    margin: 0 70px;
    display: inline-block;
}

.footer_menu_3 {
    margin-bottom: 80px;
    width: 300px;
    display: inline-block;
}

.footer_text_3 {
    font-family: 'Poppins';
    width: 150px;
}

.ul {
    vertical-align: top;
}

.ft_head {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}

.ft_text {
    font-family: 'Poppins';
    margin: 8px 0;
    font-size: 18px;
}

.ft_link {
    font-family: 'Poppins';
    color: white;
}

.abuttom {
    font-family: 'Poppins';
}